@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

.container{
    width: 600px;
    height: 300px;
    /*background-color:#050505;*/
    transform: scale(0.94);
    border-radius: 10px;
    overflow: hidden;
    /*background-image: url("../images/background-image.jpeg");*/
}

.content{
    /*box-shadow: inset 0px -1px 10px 1px #0000002e;*/
    color:#ecf0f4;
    font-family: "Open Sans", sans-serif;
    z-index: 950;
}

#my-header{
    -webkit-app-region:drag;
    text-align: center;
}
.floating-svg {
    position: static;
}
.floating-svgdown{
    position: absolute;
    bottom: 0;
    right: -40px;
    background: linear-gradient(to right, #bd1e1e 0%, #ff5454 100%);
}
.floating-svgdown .cls-1, .floating-svgdown .cls-2 {
    fill: url(#grad1);
    fill-rule: evenodd;
    stroke-width: 4.43px;
}

.floating-svgdown .cls-1 {
    opacity: 0.2;
}

.floating-svgdown .cls-2 {
    opacity: 0.5;
}

.shapes{
    z-index:-1;
}
.floating-svgup{
    position: absolute;
    top: -95px;
    left: -50px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    background: linear-gradient(to right, #bd1e1e 0%, #ff5454 100%);
}

.floating-svgup .cls-1, .floating-svgup .cls-2 {
    fill: url(#grad1);
    fill-rule: evenodd;
    stroke-width: 4.43px;
}

.floating-svgup .cls-1 {
    opacity: 0.2;
}

.floating-svgup .cls-2 {
    opacity: 0.3;
}

h1,h2,div,p{ user-select: none;}